header{
    background-color: rgb(224, 169, 149);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding:15px;
}
header>div>img{
    width:50px;
}
header>div>img header>div h3 {
    display:inline-block;
}

h2{
    color:blue;
    text-align: center;
}
h3{
    color: crimson;
}